@charset "UTF-8";
html {
  height:100%;
  font-size:100px;
}

body {
	background-color:white;
	font-family:Helvetica, Arial, sans-serif;
	font-size:1.0em;
	margin:48px;
  font-weight:bold;
}

a, a:link, a:visited {
  position:relative;
	text-decoration:none;
  color:#333;

  -webkit-text-shadow:0px 0px 0px #333;
  -moz-text-shadow:0px 0px 0px #333;
  text-shadow:0px 0px 0px #333;
  -moz-transition:all 0.25s ease-in-out;
  -webkit-transition:all 0.25s ease-in-out;
  transition:all 0.25s ease-in-out;
}

a:hover {
  top:-4px;
  left:-4px;
  -webkit-text-shadow:4px 4px 0px #444;
  -moz-text-shadow:4px 4px 0px #444;
  text-shadow:4px 4px 0px #444;
}

a#twitter {
  color:#9AE4E8;
}

a#wantful {
  color: #000;
}

a#trigger_man {
  color: #9f0000;
}

a#supp {
  color: #f6c093;
}

a#meedeor {
  color: #c9c9c9;
}

p {
	line-height:1.25em;
  margin:0;
  width:80%;
}

